/*===========================================*/
/* Colors */
/*===========================================*/
$primary: #ff6464;
$primaryShade1: #e65a5a;

$dark2: #332f3d;
$dark: #26232c;
$active: #c3dd4f;

/*===========================================*/
// overlay transparent colors
$darkOverlay: rgba(38, 35, 44, 0.95);
$darkOverlay2: rgba(51, 47, 61, 0.6);
$darkOverlay3: rgba(0, 0, 0, 0.12);
$formOverlay: rgba(38, 35, 44, 0.1);
$formOverlay1: rgba(255, 255, 255, 0.1);
$formOverlay2: rgba(255, 255, 255, 0.2);
$formOverlay3: rgba(255, 255, 255, 0.3);
$formOverlay4: rgba(255, 255, 255, 0.4);
$formOverlay5: rgba(255, 255, 255, 0.5);
$lightOverlay: rgba(198, 225, 249, 0.98);

/*===========================================*/
// blacks
$black: #000;
$black10: #181818;
$black20: rgba(0, 0, 0, 0.6);
$black30: rgb(17, 24, 39);
$black40: #141414;
$black50: rgb(20, 20, 20);

/*===========================================*/
// grays
$gray10: rgb(119, 119, 119);
$gray20: rgb(156, 163, 175);
$gray30: rgba(42, 42, 42, 0.6);
$gray40: rgba(156, 163, 175, 0.4);

/*===========================================*/
// whites
$white10: rgba(255, 255, 255, 1);
$white20: rgba(243, 244, 246, 1);
$white30: rgb(209, 213, 219);

/*===========================================*/
// greens
$green10: rgba(110, 231, 183, 1);

/*===========================================*/
// reds
$red10: rgb(220, 38, 38);
$red20: rgba(185, 28, 28, 1);

/*===========================================*/
// blues
$blue10: rgba(75, 85, 99, 1);
$blue20: rgb(55, 65, 81);

/*===========================================*/
// shadows
$shadow10: rgba(0, 0, 0, 0.3);
$shadow20: rgba(158, 155, 155, 0.3);
$shadow30: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1) 0rem 1rem 1rem -0.5rem
    rgba(0, 0, 0, 0.04);

/*===========================================*/
/*===========================================*/
/*===========================================*/
$light: #c6e1f9;

/*===========================================*/
// Text
/*===========================================*/
$white: #fff;
$linkHover: #4541ff;

$textPurpleActive: rgb(99, 106, 184);
$textPurple: #373b64;
