@use "partials" as p;

$bannerHeight: 76rem;

.banner {
    height: $bannerHeight;
    width: 100%;

    display: flex;
    align-items: center;

    &__details {
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    &__title {
        @include p.form-header;
        color: p.$white;
        z-index: 1;
    }
    &__subtitle {
        @include p.hero-text;
        z-index: 1;
    }
    &__cta {
        z-index: 1;
        @include p.cta;
        @include p.btn;
        gap: 0.2rem;
        align-items: center;
        align-self: flex-start;
        color: p.$white;

        span {
            margin-right: 1rem;
        }

        &:link,
        &:visited {
            transition: all 0.3s ease-out;
        }
        &:hover,
        &:active {
            background-color: p.$red20;
        }
    }
    &__play-icon {
        color: p.$white;
    }

    &__background-image {
        &__container {
            width: p.$wrapper-width + rem;
            position: absolute;
            top: 0;
            left: 0;
            height: $bannerHeight;
            overflow: hidden;
        }
        &__overlay {
            width: 100%;
            height: 100%;
            @include p.overlay(p.$darkOverlay3);
            z-index: 1;
        }

        @include p.center-absolute;
        @include p.adaptive;
        z-index: 0;
    }
}
