@use "partials" as p;

$navBarHeight: 8rem;

.nav {
    width: 100%;
    display: flex;
    height: $navBarHeight;
    // max-width: p.$wrapper-width + rem;
    position: fixed;
    z-index: 5;
    background: linear-gradient(p.$darkOverlay, p.$darkOverlay3);
    @include p.form-text-light;

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 0.4rem 4rem;
    }

    &__logo {
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img {
        }
    }

    &__list {
        display: flex;
        gap: 4rem;
        &-item {
            @include p.link;
        }
    }

    &__user {
        // position: relative;
        display: flex;
        align-items: center;
        @include p.link;

        &-container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: auto;
            position: relative;
        }

        &:focus {
            // ~ .nav__user-signout {
            //     opacity: 1;
            // }
        }

        &-icon {
        }

        &-signout {
            @include p.cta;
            @include p.btn;
            @include p.link;
            position: absolute;
            bottom: -$navBarHeight;
            left: -4rem;
            background-color: p.$black20;

            // transition: all 1s ease-in-out;
            // opacity: 0;
            // &:focus {
            //     transition: none;
            // }
            span {
                width: 11rem;
            }
        }
    }

    color: p.$white;
}
