// general
@use "footer";
@use "defaults";

// pages
@use "pages-index";
@use "auth";

// components
@use "Banner.style";
@use "Navbar.style";
@use "Cards.style";
@use "Card.style";

// .content {
//     display: flex;
//     flex-direction: column;
//     align-self: center;
//     width: 100%;
// }
